:root {
    --azul-100: #2A7AE4;
    --azul-80: #5595E9;
    --azul-20: #D4E4FA;
    --azul-10: #EAF2FD;
    --branco: white;
    --preto-100: #464646;
    --preto-80: #6B6B6B;    
    --preto-50: #A2A2A2;
    --preto-30: #C8C8C8;
    --fundo-cinza: #F5F5F5;

    --raleway: "raleway", sans-serif;
}

body {
    font-family: "raleway", sans-serif;
    font-size: 14px;
}

main {
    background: var(--fundo-cinza);
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

p {
    font-family: "raleway", sans-serif;
    font-size: 14px;
    line-height: 16.44px;
    color: var(--preto-100);
}

.container{
    position: relative;
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;

    padding: 0 1.5rem;
    box-sizing: border-box;
}

.botao {
    border: 1px solid var(--azul-100);
    padding: 1em;
    font-weight: 600;
    font-size: 0.9rem;
}

.btn--border {
    color: var(--azul-100);
    padding: 1em; 
    font-weight: 500;
    font-size: 0.9rem;
    background: transparent;

    border: 1px solid var(--azul-100);
}

.btn--border:hover {
    background: var(--azul-20);
    cursor: pointer;
}

.btn--blue {
    background: var(--azul-100);
    color: white;
    padding: 1em; 
    font-weight: 500;
    font-size: 0.9rem;

    border: none;
}

.btn--blue:hover {
    background: var(--azul-80);
    cursor: pointer;
}

.preco {
    color: var(--preto-100);
    font-weight: 700;
    font-size: 16px;
}

.link {
    color: var(--azul-100);
    font-weight: 700;
} 

.formulario-rodape {
    background-color: var(--azul-10);
}

footer {
    font-family: var(--raleway)
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 0 3rem;
    }
}