.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cabecalho__logo {
    width: 100px;
}

.barra {
    display: none;
    position: relative;
}

.link-lupa-desk {
    position: absolute;
    top: 2px;
    right: 20px;
}

.barra-pesquisa {
    width: 393px;
    height: 40px;
    border-radius: 20px;
    background-color: #F5F5F5;

    padding-left: 1rem;

    border: none;
    outline-color: var(--azul-100);

    font-family: var(--raleway);
    color: var(--preto-50);
}

.circulo {
    padding: 8px;
    border-radius: 50%;
    transition: background-color 1s, transform 0.5s;
}

.circulo:hover {
    transform: scale(1.2);
}

.login {
       color: var(--azul-100);
       padding-right: 50px;
       padding-left: 50px;
}

.login:hover {
    background: var(--azul-20);
}

.lupa {
    width: 1.2rem;
}

@media screen and (min-width: 768px) {
    .barra {
        display: block;
    }

    .bg-barra {
        display: flex;
    }

    .cabecalho__logo {
        width: 120px;
    }

    .link-lupa {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        justify-content: flex-start;
    }
    
    .cabecalho__logo {
        width: 176px;
        margin-right: 32px;
    }

    .bg-barra {
        width: 396px;
    }

    .login {
        position:absolute;
        right: 0;
        margin-right: 3rem;
    }
}