.cabecalho {
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.barra-pesquisa {
    display: none;

    width: 272px;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 20px;

    padding-left: 1rem;

    border: none;

    font-family: var(--raleway);
    color: var(--preto-50);
}

.login {
       color: var(--azul-100);
       padding-right: 50px;
       padding-left: 50px;
}

.lupa {
    width: 1.2rem;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    background-image: url(../img/Herobg-home.png);
    background-size: cover;
}

.banner-titulo h1 {
    font-weight: 700;
    font-size: 22px ;
    color: var(--branco);
    margin-bottom: 1rem;
}

.banner-subtitulo {
    font-weight: 600;
    color: var(--branco);
    font-size: 0.8rem;
    margin-bottom: 1em;
}

.banner-link {
    color: var(--branco);
    background: var(--azul-100);
    width: 90px;
    margin-left: 6%;
    margin-bottom: 6%;
    
}

.produtos-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.lista-produtos {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.produtos-cabecalho h2 {
    color: var(--preto-100);
    font-size: 22px;
    font-weight: 700;
}

.produto-cadastrado {
    display: flex;
    flex-direction: column;
    width: 47%;
}

.produto-descricao {
    margin-top: 0.5em;
}

.produto-preco {
    margin-top: 0.5em;
}

.produto-link {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.menu-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--azul-10);
    padding: 6%;
}

.logo-rodape {
    width: 200px;
    margin-bottom: 1rem;
}

.menu-rodape li {
    margin-bottom: 1rem;
}

.menu-rodape a{
    color: var(--preto-100);
    font-size: 16px;
    font-weight: 500;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formulario legend {
    font-weight: 700;
    color: var(--preto-100);
    font-size: 16px;

    margin-bottom: 0.5em;
}

.formulario label {
    display: block;
    width: 100%;

    padding: 10px 10px 0 10px;
    border-radius: 4px;
    box-sizing: border-box;

    font-family: var(--raleway);
    font-size: 12px;
    color: #A2A2A2;

    background-color: white;
}

.formulario .fundo-branco {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 4px;

    box-shadow: 0px 1px 2px #C8C8C8;

    margin-bottom: 1em;
}

.formulario .nome {
    width: 92%;
    border: none;
    border-radius: 4px;

    margin: 5px auto;
    
    font-size: 16px;
    color: var(--preto-100);
    line-height: 20px;
}

.formulario textarea {
    width: 100%;
    height: 82px;

    box-shadow: 0px 1px 2px #C8C8C8;
    border-radius: 4px;
    border: none;
    
    padding: 20px 10px;
    margin-bottom: 1em;
    box-sizing: border-box;

    font-family: var(--raleway);
    font-size: 1em;
    color: #A2A2A2;
}

.formulario .formulario-botao {
    padding: 10px;

    font-family: var(--raleway);
    font-size: 1em;
    font-weight: 600;

    color: white;
    background-color: var(--azul-100);
    border: none;

    margin-bottom: 1em;
}

.desenvolvedor {
    text-align: center;
    padding: 32px;

    font-size: 16px;
    font-weight: 500;
    color: var(--preto-100);
}

@media screen and (min-width: 768px) {
    .barra-pesquisa {
        display: block;
    }

    .link-lupa {
        display: none;
    }
}